---
---

@import 'jekyll-theme-cayman';


.page-header {
background-image: 
    // linear-gradient(to right, rgba(255, 132, 0, 0.8), rgba(5, 171, 204, 0.8)),
    linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), rgba(251, 219, 204, 0.8), rgba(187, 226, 245, 0.8),rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    url('/assets/img/bitmap3.svg');
    background-size: cover;
    background-position: top;
}
.project-name {
    color: black;
  }
.project-tagline {
    font-weight: bold;
    color: black;
  }
.emphasize {
    color: orange;
  }

.btn {
  color: black; /* Sets the text color to black */
  border: 1px solid black; /* Sets a black border */
  // padding: 8px 12px; /* Optional: Adjusts padding for better visual appearance */
  // text-decoration: none; /* Removes the underline from the link */
  // display: inline-block; /* Needed to apply padding and border properly */
  // background-color: transparent; /* Optional: Makes the background transparent */
}

.wide-container {
  width: 100%; /* Increase width to 140% */
  margin-left: 0%; /* Offset the increased width to keep it centered */
}

.organizers-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 5px;
}

.organizer {
  flex: 1 1 calc(25% - 5px); /* Four per row */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-organizer {
  flex: 1 1 calc(50% - 5px); /* Two per row */
}

.organizer-placeholder {
  flex: 1 1 calc(25% - 5px); /* Same size as other organizers */
}

.organizer-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
}

.organizer-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
  display: block;
}

.organizer-header strong {
  display: block;
  text-align: center;
  margin-top: 5px;
  width: 100%;
}

.organizer-affiliation {
  font-weight: normal;
  font-size: 0.9em;
  text-align: center;
  margin-top: 5px;
  color: #666;
  display: block;
  width: 100%;
}

.big-photo {
  width: 120px;
  height: 120px;
}

.organizer-bio {
  max-width: 100%;
}

.organizer-bio p {
  margin: 0;
}




.keynote-speaker {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px; /* Add spacing between speakers */
}

.speaker-photo {
  width: 150px; /* Fixed width */
  height: 150px; /* Fixed height */
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}

.speaker-bio {
  max-width: 100%;
}

.speaker-bio strong {
  font-size: 1.5em; /* Adjust the font size for the name */
}

.speaker-bio p {
  margin: 0 0 10px 0; /* Add spacing between paragraphs */
}